.header {
    min-height: 60px;
    padding: 30px 0 20px;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: var(--muted);
        font-size: 18px;
        strong {
            color: var(--text);
            font-weight: 700;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    // &__menu {
    //     display: flex;
    //     justify-content: space-between;
    //     gap: 30px;
    // }
    // &__menu-link {
    //     color: var(--muted);
    //     transition: 0.3s all;
    // }
    // &__menu-link:hover {
    //     color: var(--text);
    //     text-decoration: underline;
    // }
    &__action {
        padding: 10px 15px;
        background-color: var(--glass);
        border-radius: 10px;
    }
}