.header {
    min-height: 60px;
    padding: 30px 0 20px;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: var(--muted);
        font-size: 18px;
        margin-right: 30px;
        strong {
            color: var(--text);
            font-weight: 700;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
    &__action {
        padding: 10px 15px;
        background-color: var(--glass);
        border-radius: 10px;
    }
}


@media (max-width: 480px) {
    .header {
        &__container {
            flex-direction: column;
            gap: 15px;
        }
        &__logo {
            font-size: 16px;
            margin-right: 0;
            text-align: center;
        }
        &__action {
            font-size: 14px;
        }
    }
}